<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>State Bank of India Branch Services in Bangalore City</title>
</head>
<body>
	<h1>State Bank of India Branch Services in Bangalore City</h1>

	<table border="1">
		<tr bgcolor="#e3e2e2">
			<td width="20%">Sl No</td>
			<td width="80%">Services</td>
		</tr>
		
		<tr>
			<td width="20%">1</td>
			<td width="80%">Cash Deposit</td>
		</tr>

		<tr>
			<td width="20%">2</td>
			<td width="80%">Cheque Deposit</td>
		</tr>

		<tr>
			<td width="20%">3</td>
			<td width="80%">Demand Draft</td>
		</tr>

		<tr>
			<td width="20%">4</td>
			<td width="80%">Housing Loan</td>
		</tr>

		<tr>
			<td width="20%">5</td>
			<td width="80%">Personal Loan</td>
		</tr>

		<tr>
			<td width="20%">6</td>
			<td width="80%">Vehicle Loan</td>
		</tr>

	</table>

</body>
</html>