<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>State Bank of India Branches in Bangalore City</title>
</head>
<body>
	<h1>State Bank of India Branches in Bangalore City</h1>
	<br><br>
	<table border="1">
		<tr bgcolor="#e3e2e2">
			<td width="20%">Branch</td>
			<td width="80%">Address</td>
		</tr>
		
		<tr>
			<td width="20%">Sarjapura</td>
			<td width="80%">Main Sarjapura Road, Bangalore</td>
		</tr>

		<tr>
			<td width="20%">MG Road</td>
			<td width="80%">Mahalakshmi Chambers, Hotel Kamadhenu Building, Trinity Circle, Bangalore</td>
		</tr>

		<tr>
			<td width="20%">Hsr Layout</td>
			<td width="80%">No 30 14th Cross 9 Main 6 Sector, Hsr Layout, Bangalore</td>
		</tr>

		<tr>
			<td width="20%">Bellandur</td>
			<td width="80%">No 793, Ganapatowers, Outer Ring Road, Bellandur, Bangalore</td>
		</tr>

		<tr>
			<td width="20%">Jayanagar</td>
			<td width="80%">11<sup>th</sup> Main Road, V<sup>th</sup> Block, Jayanagar, Bangalore</td>
		</tr>

		<tr>
			<td width="20%">Yelahanka</td>
			<td width="80%">Yelahanka, Bangalore</td>
		</tr>

		<tr>
			<td width="20%">JP Nagar</td>
			<td width="80%">21 BKH Plaza Jaragunhalli JP Nagar Phase VI, Bangalore</td>
		</tr>

		<tr>
			<td width="20%">Kasturi Nagar</td>
			<td width="80%">NGEF Layout, Kasturi Nagar, Bangalore</td>
		</tr>

		<tr>
			<td width="20%">J C Road</td>
			<td width="80%">J C Road, Bangalore</td>
		</tr>

		<tr>
			<td width="20%">Whitefield</td>
			<td width="80%">Main Whitefield Road, Whitefield, Bangalore</td>
		</tr>

	</table>
</body>
</html>